<footer class="py-5">

<div class="container">
    <div class="row justify-content-center py-3">
        <div class="col-md-4">
            <div class="inner text-center">
                <h3>LOCATION</h3>
                <p>1234 Somewhere Road</p>
                <p>Clark, MO 56564</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="inner text-center">
                <h3>AROUND THE WEB</h3>
                <ul class="list-unstyled d-flex justify-content-center">
                    <li class="">
                            <span class="fa-stack" style="vertical-align: top;">
                                <i class="fa-regular fa-circle fa-stack-2x"></i>
                                <i class="fa-brands fa-facebook fa-stack-1x text-white"></i>
                            </span>
                    </li>
                    <li class="">
                            <span class="fa-stack" style="vertical-align: top;">
                                <i class="fa-regular fa-circle fa-stack-2x "></i>
                                <i class="fa-brands fa-twitter fa-stack-1x text-white"></i>
                            </span>
                    </li>
                    <li class="">
                            <span class="fa-stack" style="vertical-align: top;">
                                <i class="fa-regular fa-circle fa-stack-2x "></i>
                                <i class="fa-brands fa-linkedin-in fa-stack-1x text-white"></i>
                            </span>
                    </li>
                    <li class="">
                            <span class="fa-stack" style="vertical-align: top;">
                                <i class="fa-regular fa-circle fa-stack-2x "></i>
                                <i class="fa-solid fa-globe fa-stack-1x text-white"></i>
                            </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="inner text-center">
                <h3>ABOUT <br> FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</div>
</footer>
<p class="bg-dark mb-0 pt-3 pb-4 text-white text-center">Copyright © Your Website 2021</p>

