<div class="contact">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <h2 class="h1 fw-bold mt-4">CONTACT SECTION</h2>
        <app-star></app-star>
        <div class="form w-50 my-5">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput"
                    placeholder="User Name">
                <label for="floatingInput">User Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput"
                    placeholder="User Age">
                <label for="floatingInput">User Age</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput"
                    placeholder="User Email">
                <label for="floatingInput">User Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control"
                    id="floatingPassword" placeholder="User Password">
                <label for="floatingPassword">User Password</label>
            </div>
            <button type="submit" class="btn mt-3">Send Message</button>
        </div>
    </div>
</div>