<div class="portfolio">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <h2 class="h1 fw-bolder mt-4">PORTFOLIO COMPONENT</h2>
        <app-star></app-star>
        <div class="gallery mb-5">
            <div class="row gx-5 gy-5">
                <div class="col-md-4">
                    <div class="inner position-relative  ">
                        <img src="images/port1.png" alt="" class="w-100 rounded-2">
                        <div class="layer d-flex justify-content-center align-items-center rounded-2">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inner position-relative ">
                        <img src="images/port2.png" alt="" class="w-100 rounded-2">
                        <div class="layer d-flex justify-content-center align-items-center rounded-2">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inner position-relative ">
                        <img src="images/port3.png" alt="" class="w-100 rounded-2">
                        <div class="layer d-flex justify-content-center align-items-center rounded-2">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inner position-relative ">
                        <img src="images/port1.png" alt="" class="w-100 rounded-2">
                        <div class="layer d-flex justify-content-center align-items-center rounded-2">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inner position-relative ">
                        <img src="images/port2.png" alt="" class="w-100 rounded-2">
                        <div class="layer d-flex justify-content-center align-items-center rounded-2">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inner position-relative ">
                        <img src="images/port3.png" alt="" class="w-100 rounded-2">
                        <div class="layer d-flex justify-content-center align-items-center rounded-2">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>